<h1>Novo card</h1>

<form method="post" action="/cards">

<p><label for="frente">Frente</labeL></p>
<input type="text" name="frente" id="frente" placeholder="insira um texto">

<p><label for="verso">Verso</labeL><p>
<input type="text" name="verso" id="verso" placeholder="insira um texto">

<input type="submit" value="Enviar">

</form>